
      <div class="row">
        <div id="left-content" class="col-md-6 text-center">
           <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/240100_10151174488567645_1623675139_o.jpg?oh=f732f82293edce1fde9b355020eb4b03&oe=5A9AB1A9"> 
        </div>
        <div id="right-content" class="col-md-6">
          <p>McKenzie Broekstra is a graduate of Colorado State University with a bachelor degree in social work.  Prior to graduation, McKenzie interned at Halcyon Hospice and Palliative Care, in Denver Colorado.  While in this position she worked in admissions for hospice and palliative care as well as doing assessments for patients.  McKenzie is passionate about geriatric health and wellness and is hoping to find a position in the field while attending a graduate social work program.</p>
        </div>
      </div>
