<body>
    <div id="content" class="container">
      <div class="row">
        <div id="left-content" class="col-md-6 text-center">
           <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/240100_10151174488567645_1623675139_o.jpg?oh=f732f82293edce1fde9b355020eb4b03&oe=5A9AB1A9"> 
        </div>
        <div id="right-content" class="col-md-6">
          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in
            Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
            the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections
            1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in
            45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
            Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
        </div>
      </div>
    </div>
  </body>

  <footer>
    <div id="upper-footer">
      <!--Insert links to professional pages  -->
    </div>
  </footer>
</div>