<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h4>Contents</h4>
    <ul id="contentlist">
      <li>
        <a href="../../assets/documents/McKenzieBroekstraResume.pdf" target="_blank">Resume</a>
      </li>
      <li>
        <a href="../../assets/documents/SOWK488LearningPlan.pdf" target="_blank">Learning Plan</a>
      </li>
      <li>
        <a href="../../assets/documents/SOWK488ProgressReport.pdf" target="_blank">Progress Report</a>
      </li>
      <li>
        <a href="../../assets/documents/SOWK488FinalEvaluation.pdf" target="_blank">Final Evaluation</a>
      </li>
      <li>
        <a href="../../assets/documents/McKenzieBroekstraAssessment_andPraticeModelPaper.pdf" target="_blank">Assessment and Practice Model</a>
      </li>
      <li>
        <a href="../../assets/documents/McKenzieBroekstraAssessment.pdf" target="_blank">Assessment</a>
      </li>
      <li>
        <a href="../../assets/documents/McKenzieBroekstraCasePresentation.pdf" target="_blank">Case Presentation</a>
      </li>
      <li>
        <a href="../../assets/documents/McKenzieBroekstraEthicalDilemma.pdf" target="_blank">Ethical Dilemma</a>
      </li>
      <li>
        <a href="../../assets/documents/McKenzieBroekstraSelf-ReflectionPaper.pdf" target="_blank">Self Reflection</a>
      </li>
    </ul>

  </div>
  <div class="col-3"></div>
</div>