<!--The content below is only a placeholder and can be replaced.-->
<div>
  <header>
    <div id="upper-header">
      <a id="upper-logo" href="./">McKenzie Broekstra</a>
    </div>
    <div id="lower-header">
      <div id="upper-nav">
        <nav class="navbar" style="text-align:center;">
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a routerLink="/about"><span>Home</span></a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/portfolio"><span>Portfolio</span></a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/resume"><span>Resume</span></a></li>
            <!-- <li [routerLinkActive]="['active']"><a routerLink="/blog"><span>Blog</span></a></li> -->
            <li [routerLinkActive]="['active']"><a routerLink="/contact"><span>Contact</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <body>
    <div id="content" class="container">
  <router-outlet></router-outlet>
    </div>
  </body>
  <footer>
    <div id="upper-footer">
      <!--Insert links to professional pages  -->
    </div>
  </footer>
</div>