/* You can add global styles to this file, and also import other style files */
:root{
  --blue1: #193A6D;
  --red1: #a41a1a;
  --yellow1: #a49c1a;
  --grey1: #4b586d;

  --blue: #294269;
  --red: #9E3535;
  --yellow: #9E9835;
  --grey: #868F9D;
}

* {
 margin: 0;
 padding: 0;
 border: 0;
 color: var(--blue);
 font-size: 14px;
 font-family: Varela Round,arial,sans-serif;
}